body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
/* HEADER */
.header {
  padding: 10px;
  background-color: teal;
  color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* MAP  */
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* ICONS */
.location-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.location-icon.drought {
  color: tan;
}
.location-icon.fire {
  color: crimson;
}
.location-icon.flood {
color: midnightblue;
}
.location-icon.storm {
  color: yellow;
}
.location-icon.volcano {
  color: maroon;
}
.location-icon.water-color {
color: teal;
}
.location-icon.earthquake {
  color: black;
}
.location-icon.snow {
  color: cornflowerblue;
}
.location-icon.temperature {
  color: orangered;
}
.location-icon:hover {
  color: #222;
  filter: brightness(2);
}

/* LOADER  */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: 100px;
}
/* LOCATION INFO BOX */
.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

/* LOCATION HOVER INFO */
.location-hover-info {
  position: absolute;
  top: -10px;
  left: 30px;
  margin: 0;
  height: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.location-marker:hover .location-hover-info {
  background-color: rgba(0, 0, 0, 1);
  display: block;
}

.location-hover-info h5 {
  margin: 5px;
}

.location-hover-info h6 {
  margin: 5px;
}