body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
  color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 20px 20px rgba(243, 112, 21, 0.8), 0 20px 25px rgba(44, 83, 100, 0.8);
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0 100px 0 0;
  text-align: center;
}

.header span {
  position: absolute;
  right: 155px;
}

.header .nasa-icon {
  position: absolute;
  right: 100px;
  display: inline-block;
 height: 3rem;
 width: 3rem;
}

/* MAP  */
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.google-map {
  position: relative;
}

/* ICONS */
.location-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.location-icon.drought {
  color: tan;
}
.location-icon.fire {
  color: crimson;
}
.location-icon.flood {
color: midnightblue;
}
.location-icon.storm {
  color: yellow;
}
.location-icon.volcano {
  color: maroon;
}
.location-icon.water-color {
color: teal;
}
.location-icon.earthquake {
  color: black;
}
.location-icon.snow {
  color: cornflowerblue;
}
.location-icon.temperature {
  color: orangered;
}
.location-icon:hover {
  color: #222;
  filter: brightness(2);
}

/* LOADER  */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: 100px;
}
/* LOCATION INFO BOX */
.location-info {
  position: absolute;
  top: 30vh;
  left: calc(50vw - 150px);
  width: 300px;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, rgba(241, 39, 17, 0.8), rgba(245, 175, 25, 0.8));
  box-shadow: 20px 20px 20px rgba(44, 83, 100, 0.8), -20px 20px 20px rgba(44, 83, 100, 0.8);
  border-radius: 10px;
  color: #fff;
  z-index: 10;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-info a {
  display: block;
  text-decoration: none;
  color: yellow;
  cursor: pointer;
  padding: 5px 90px;
  border: 2px solid yellow;
  margin-top: 10px;
  transition: all 0.3s ease-in;
}

.location-info a:hover {
  color: forestgreen;
  border-color: forestgreen;
}

.location-info .close-icon {
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: yellow;
  transition: all 0.3s ease-in;
}

.location-info .close-icon:hover {
  color: forestgreen;
}

/* LOCATION HOVER INFO */
.location-hover-info {
  position: absolute;
  bottom: 0px;
  left: -40px;
  margin: 0;
  min-height: 50px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, rgba(241, 39, 17, 0.8), rgba(245, 175, 25, 0.8));
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.location-marker:hover .location-hover-info {
  display: block;
}

.location-hover-info h4 {
  margin: 5px;
  display: block;
}

.location-hover-info h5 {
  margin: 5px;
  display: block;
}

/* SELECTOR */
.selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
  color: #eee;
  position: fixed;
  top: 75px;
  left: 10px;
  box-shadow: 20px 20px 20px rgba(243, 112, 21, 0.8), 20px 20px 25px rgba(44, 83, 100, 0.8);
  z-index: 50;
  border-radius: 10px;
}

.disasters {
  display: flex;
  justify-content: flex-start;
}

.disaster-input {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
  padding: 10px;
  color: #eee;
}

.disaster-label {
  text-align: start;
}